<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>FACTORY VISUALIZATION</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>FACTORY VISUALIZATION</h1>
		
		<img src="js/controllers/leanware1.png" alt="LEANWARE" style="width:200px;height:110px;">
		
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>  Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>  Signup</a>
    </div>

</div>
</body>
</html>