/* Layout */
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 1em;
}


/* Demo One */
#drop-target-delete,
#drop-target-one,
#dd-files,
#dd-images {
	border: 5px dashed #D9D9D9;
	border-radius: 10px;
	padding: 5em 2em;
	text-align: center;
}

.over {
	background: #F7F7F7;
}

#drag-elements {
	list-style: none;
	padding: 0;
	margin: 0 0 1em;
}

#drag-elements li {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em 1em 0;
	border: 1px solid #D9D9D9;
	background: #F7F7F7;
	border-radius: 3px;
}


#drag-elements-new{
	list-style: none;
	padding: 0;
	margin: 0 0 1em;
}



#drag-elements-new li{
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 1em 1em 0;
	border: 1px solid #D9D9D9;
	background: #F7F7F7;
	border-radius: 3px;
}



/* Clearfix Utils */

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

